@model Story1.Models.ViewModels.ForgotPasswordViewModel

@*
    Programmer: Nina Hoang
    Class: CIS234A
    Date: 11/17/2019
    Purpose: To create a web gui for forgot password page.
*@

<html>
<head>
    <title>"Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: url('../../Content/HTML/pawprints.png');
            background-color: #80ced6;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin: auto;
        }
    </style>
</head>
<body>
    <form action="/Home/ForgotPassword" method="post">
        <h2>Reset Password</h2>
        <p><a href="/Home/Login">Return to Login</a></p><br />

        <fieldset>
            <legend><b>Please enter your username below:</b></legend>
            <p>
                <label for="input"><b>@Html.LabelFor(model => model.username)</b></label>
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { placeholder = "Enter Username", type = "username" } })
            </p>
            <p><button type="submit" class="sendbtn">Send a link to my email address.</button></p>
        </fieldset>
    </form>


    @Html.ValidationSummary(true, "")

    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
    }

    @{
        // Prompt a message to confirm password reset
        if (Model != null)
        {
            if (!string.IsNullOrWhiteSpace(Model.message))
            {
                <script>
                    Swal.fire({
                        title: '@Model.message',
                        text:  'Your password has been reset',
                        type:  'success',
                        onClose: function () {
                            location.href = '/Home/UserAccount';
                        }
                    });
                </script>
            }
            if (!string.IsNullOrWhiteSpace(Model.errMessage))
            {
                <script>
                    Swal.fire({
                        title: 'Reset failed',
                        text:  '@Model.errMessage',
                        type:  'error'
                    });
                </script>
            }
        }
    }

</body>
</html>




