@model Story1.Models.ViewModels.UnsubscribeViewModel

@*
    Programmer: Nina Hoang
    Class: CIS234A
    Date: 11/17/2019
    Purpose: This code creates a web gui for user account unsubscribe page.
*@

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: url('../../Content/HTML/clover.PNG');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin: auto;
        }
    </style>
   
</head>
<body>
    <form action="/Home/Unsubscribe" method="post">
        <h1>Unsubscribe Account</h1>
        <p><a href="/Home/UserAccount">Return to Account Settings</a></p><br />

        <fieldset>
            <legend><b>Account Information</b></legend>
            <p>
                <span><b>Username:</b></span>
                <span>@Model.uname</span> 
            </p>
            <p>
                <span><b>Email:</b></span>
                <span>@Model.email</span>
            </p>
            <p><button type="submit" class="deletebtn">Unsubscribe</button></p>
        </fieldset>
    </form>


    @Html.ValidationSummary(true, "")

    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
    }

    @{
        // Prompt a confirm message for success attempt to unsubscribe and redirect to login page
        if (Model != null)
        {
            if (!string.IsNullOrWhiteSpace(Model.message))
            {
                <script>
                    Swal.fire({
                        title: '@Model.message',
                        text:  'You have successfully unsubscribed from the program.',
                        type:  'success',
                        onClose: function () {
                            location.href = '/Home/Login';
                        }
                    });
                </script>
            }
        }
    }
</body>
</html>


