@model Story1.Models.ViewModels.UserAccountViewModel

@*
    Programmer: Nina Hoang
    Class: CIS234A
    Date: 11/14/2019
    Purpose: To create a gui for user account settings.
*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
            background-color: #80ced6;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 300px; /* column height */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .savebtn {
            background-color: #50394c;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            .savebtn:hover {
                opacity: 0.8;
            }

        /* Add a blue text color to links */
        a {
            color: #191970;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <form action="/Home/UserAccount" method="post">
        <div class="container">
            <h1>Account Settings</h1>
            <hr>
            <div class="row">
                <div class="column">
                    <label for="acctName"><b>@Html.LabelFor(model => model.acctName)</b></label>
                    @Html.EditorFor(model => model.acctName, new { htmlAttributes = new { placeholder = "User's name", autofocus = "" } })

                    <label for="acctUname"><b>@Html.LabelFor(model => model.acctUname)</b></label>
                    @Html.EditorFor(model => model.acctUname, new { htmlAttributes = new { placeholder = "User's Username" } })

                    <label for="acctEmail"><b>@Html.LabelFor(model => model.acctEmail)</b></label>
                    @Html.EditorFor(model => model.acctEmail, new { htmlAttributes = new { placeholder = "User's Email" } })

                    <a href="#">Change Password</a>
                </div>
                <div class="column">
                    <label for="notifications"><b>Please select alert type:</b></label><br><br>
                    @Html.CheckBoxFor(model => model.isEmailNotiType) Email<br>
                    @Html.CheckBoxFor(model => model.isTextNotiType) Txt Msg<br>
                    @*<input type="checkbox" name="notiType" value="email"> Email<br>
        <input type="checkbox" name="notiType" value="txt"> Txt Msg<br>
        <input type="checkbox" name="notiType" value="both"> Both<br><br>*@

                    <label for="locations"><b>Please select desired locations:</b></label><br><br>
                    @Html.CheckBoxFor(model => model.isSYLocation) Sylvania Campus<br>
                    @Html.CheckBoxFor(model => model.isRCLocation) Rock Creek Campus<br>
                    @Html.CheckBoxFor(model => model.isCASLocation) Cascade Campus<br>
                    @Html.CheckBoxFor(model => model.isSELocation) Southeast Campus<br>
                    @*<input type="checkbox" name="location" value="SY"> Sylvania Campus<br>
        <input type="checkbox" name="location" value="RC"> Rock Creek Campus<br>
        <input type="checkbox" name="location" value="CAS"> Cascade Campus<br>


                    @*public bool isEmailNotiType { get; set; }
        public bool isTextNotiType { get; set; }
        public bool isBothNotiType { get; set; }

        public bool isSYLocation { get; set; }
        public bool isRCLocation { get; set; }
        public bool isCASLocation { get; set; }
        public bool isSELocation { get; set; }*@

                </div>
            </div>
            <hr>
            <button type="submit" class="savebtn">Save Changes</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            @Html.ActionLink("Unsubscribe", "Unsubscribe")
        </div>
    </form>

    @Html.ActionLink("Logout", "Logout")
</body>
</html>
